* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: helvetica;
    color: #323232;
    border: none;
}

body {
    background: #0d1117;
    color: #fff;
}

.login-container {
    width: 400px;
    margin-left: auto;
    margin-right: auto;
    padding: 20px 30px;
    margin-top: 10vh;
    background-color: #fff;
    border-radius: 10px;
    text-align: center;
}

form {
    margin-top: 30px;
    margin-bottom: 40px;
}

label,
input {
    display: block;
    width: 100%;
    text-align: left;
}

label {
    font-weight: bold;
}

input {
    border-bottom: 2px solid #323232;
    padding: 10px;
    font-size: 1rem;
    margin-bottom: 20px;
}

input:focus {
    border-bottom: 2px solid #08557b;
}

input[type=submit] {
    background-color: #08557b;
    color: #fff;
    margin: 5px;
    padding: 5px;
    height: 40px;
    border: none;
    border-radius: 20px;
    font-weight: 200;
    text-align: center;
    text-transform: uppercase;
    letter-spacing: 1px;
    cursor: pointer;
}

input[type=submit]:hover {
    background: rgb(218, 243, 255);
    color: #323232;
    transition: .5s;
}

textarea:focus,
input:focus {
    outline: none;
}

.forgot-pass {
    text-align: right;
    display: block;
}

.social-container,
.social-container p {
    margin-bottom: 20px;
}

a,
label {
    font-size: .8rem;
}

a:hover {
    color: #08557b;
}

.img-icon {
    margin: 15px;
    width: 40px;
    height: 40px;
}